albumentations==1.3.1
appdirs==1.4.4
beautifulsoup4==4.14.3
cffi==1.17.1
click
cloudpickle
colorama
cvxopt==1.3.2
Cython
cytoolz
dask
easydict==1.10
einops==0.6.1
filelock
fonttools
fsspec
gdown==4.7.1
GitPython==3.1.49
huggingface_hub==0.36.2
imageio==2.28.1
joblib==1.3.2
jpeg4py==0.1.4
kiwisolver
lmdb
matplotlib
networkx
numexpr
numpy
packaging
Pillow==9.5.0
pooch
protobuf==4.25.9
psutil==7.2.2
pycocotools
pycparser==2.23
pyparsing
python-dateutil
pytz
PyWavelets==1.3.0
PyYAML==6.0
regex==2023.12.25
requests==2.30.0
safetensors==0.5.3
scikit-image
scikit-learn
scipy==1.10.1
six
sympy
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
threadpoolctl
tifffile
tokenizers==0.13.3
toolz
tqdm==4.65.0
transformers==4.30.2
typing_extensions
urllib3
wandb==0.16.1
websocket-client==1.8.0
zipp
tensorboardX
# jpeg4py
opencv-python
pandas
timm
#apt-get update && apt-get install -y libgl1 libglib2.0-0
